/* You can add global styles to this file, and also import other style files */
body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('assets/fondo.png');
  background-size: cover;         /* Escala la imagen para cubrir toda el área */
  background-position: center;    /* Centrada */
  background-repeat: no-repeat;   /* No se repite */
  height: 100vh;                  /* Altura total de la pantalla */
  margin: 0;
}