* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


.titulo_destacado {
    margin: 0;
    font-size: 2em;
}

.Texto-destacado {
    color: #ee1ddc;
    font-weight: bold;
}

.Urgente {
    color: red;
    font-weight: bold;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
  }

  .presentacion-texto {
    width: 615px;
}

