/* Reseteo de márgenes y paddings */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #FFA62B; /* Color azul */
    --color-secundario: #000000; /* Color gris oscuro */
    --color-terciario: #007bff; /* Color azul claro */
    --color-cuaternario: #FFFFFF; /* Color blanco */
}

body {
    min-height: 100vh; /* 100% del alto de la ventana */
    max-width: 100%;
    background-image: url('../assets/pexels-akin-victor-10202865\ 1.png');
    background-size: cover;       /* Ajusta la imagen al tamaño del body */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;  /* Centra la imagen */
}

.header {
    padding-top:  10px; /* Agregar padding para la cabecera */
    padding-left: 15px; 
    padding-right: 26px;
}

.titulo__h1 {
    font-size: 36px; /* Tamaño de la fuente */
    color: var(--color-cuaternario); /* Color del texto */
    gap: 20px; /* Espacio entre elementos dentro del h1 si hay más de uno */
    padding-top: 100px;
    padding-left: 40px; 
}

.titulo___h1 {
    font-size: 36px; /* Tamaño de la fuente */
    color: var(--color-cuaternario); /* Color del texto */
    gap: 20px; /* Espacio entre elementos dentro del h1 si hay más de uno */
    padding-top: 20px;
    padding-left: 40px; 
}

.titulo__h2 {
    font-size: 20px; /* Tamaño de la fuente */
    color: var(--color-cuaternario); /* Color del texto */
    gap: 20px; /* Espacio entre elementos dentro del h2 si hay más de uno */
    padding-top: 20px;
    padding-left: 40px; 
}

.titulo___h2 {
    font-size: 20px; /* Tamaño de la fuente */
    color: var(--color-cuaternario); /* Color del texto */
    gap: 20px; /* Espacio entre elementos dentro del h2 si hay más de uno */
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.div__boton {
    display: flex;
    padding-top: 20px; /* Espacio superior */
    padding-bottom: 20px; /* Espacio inferior */
    padding-left: 40px; /* Espacio izquierdo */
    padding-right: 40px; /* Espacio derecho */
}

.button {
    background-color: var(--color-primario); /* color inicial */
    color: var(--color-cuaternario);
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    padding-top: 11px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;  /* Suaviza todos los cambios */
  }
  
  .button:hover {
    transform: translateY(-5px) scale(1.1); /* Se mueve y se agranda */
    background-color: var(--color-primario); /* Azul más oscuro al pasar el mouse */
  }
  


.div__logo {
    display: flex;
    align-items: center; /* Centra verticalmente el logo */
    margin-right: auto;
    gap: 20px;                 /* Espacio entre elementos dentro del logo si hay más de uno */
    padding-left: 20px;        /* Espacio desde el borde izquierdo */
  }
  

.figure_1 img, .figure_2 img {
    /* 1 Ajusta el tamaño de las imágenes si es necesario */
    height: auto; /* Mantén la relación de aspecto */
}

.nav {
    display: flex;
    justify-content: flex-end;
    
}

 .nav__ul {
    display: flex;
    list-style-type: none;
   
} 

.nav__li {
    margin: 0 15px;
    font-size: 18px;
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: var(--color-secundario); /* Color del texto */
    font-size: 36px;
}

.nav__li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: var(--color-secundario); /* Color del texto */
  }

  .nav__li a:hover {
  color: var(--color-terciario); /* Cambio de color en hover */
}

/* Estilo para el enlace de "Inicio" */
.nav__li a[href="index.html"] {
    color: var(--color-primario); /* Color azul */
    text-decoration: none; /* Elimina el subrayado */
  }
  
  /* Estilo para el enlace de "Servicios" */
  .nav__li a[href="Servicios.html"] {
    color: var(--color-primario); /* Color verde */
    text-decoration: none; /* Elimina el subrayado */
  }

  .figure_2 {
    display: flex;    
  }

  .footer_text {

    color: var(--color-cuaternario);
    position: fixed;
    bottom: 0;
    width: 100%;


  }